	path = .vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-powerline"]
	path = .vim/bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/vim-ruby"]
	path = .vim/bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule ".vim/bundle/command-t"]
	path = .vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule ".vim/bundle/vim-jade"]
	path = .vim/bundle/vim-jade
	url = git://github.com/digitaltoad/vim-jade.git
[submodule ".vim/bundle/vim-javascript"]
	path = .vim/bundle/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/bundle/vim-cucumber"]
	path = .vim/bundle/vim-cucumber
	url = git://github.com/tpope/vim-cucumber.git
[submodule ".vim/bundle/csv.vim"]
	path = .vim/bundle/csv.vim
	url = git://github.com/chrisbra/csv.vim.git
[submodule ".vim/bundle/dwm.vim"]
	path = .vim/bundle/dwm.vim
	url = git://github.com/spolu/dwm.vim.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/vim-buffer-explorer"]
	path = .vim/bundle/vim-buffer-explorer
	url = git://github.com/widox/vim-buffer-explorer-plugin.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/vim-cocoa"]
	path = .vim/bundle/vim-cocoa
	url = git://github.com/msanders/cocoa.vim.git
[submodule ".vim/bundle/clang-complete"]
	path = .vim/bundle/clang-complete
	url = git://github.com/Rip-Rip/clang_complete.git
[submodule ".vim/bundle/nerdtree.vim"]
	path = .vim/bundle/nerdtree.vim
	url = git://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/vim-rails"]
	path = .vim/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule ".vim/bundle/vim-snipmate"]
	path = .vim/bundle/vim-snipmate
	url = git://github.com/garbas/vim-snipmate.git
[submodule ".vim/bundle/tlib-vim"]
	path = .vim/bundle/tlib-vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule ".vim/bundle/vim-addon-mw-utils"]
	path = .vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule ".vim/bundle/vim-racket"]
	path = .vim/bundle/vim-racket
	url = git://github.com/wlangstroth/vim-racket.git
[submodule ".vim/bundle/ag.vim"]
	path = .vim/bundle/ag.vim
	url = git://github.com/rking/ag.vim.git
[submodule ".vim/bundle/editorconfig-vim"]
	path = .vim/bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule ".vim/bundle/vim-javascript-syntax"]
	path = .vim/bundle/vim-javascript-syntax
	url = git@github.com:jelera/vim-javascript-syntax.git
[submodule ".vim/bundle/vim-indent-guides"]
	path = .vim/bundle/vim-indent-guides
	url = git@github.com:nathanaelkane/vim-indent-guides.git
[submodule ".vim/bundle/YouCompleteMe"]
	path = .vim/bundle/YouCompleteMe
	url = git@github.com:Valloric/YouCompleteMe.git
[submodule ".vim/bundle/tern_for_vim"]
	path = .vim/bundle/tern_for_vim
	url = git@github.com:marijnh/tern_for_vim.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
